.transac-List {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  // border: 1px solid purple;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 2.5rem;

    // border: 1px solid blue;
  }

  .minus,
  .plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;

    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    position: relative;
    // padding: 10px;
    margin: 10px 0;
  }
  .minus {
    border-right: 5px solid #c0392b;
  }
  .plus {
    border-right: 5px solid #2ecc71;
  }

  &__span {
    padding: 0.5rem;
    // border-right: 5px solid #c0392b;
  }

  &__delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
    &:focus {
      outline: 0;
    }
  }
}

// .list li:hover .delete-btn {
//   opacity: 1;
// }
